@import 'antd/dist/antd.css';
@import "../node_modules/codemirror/lib/codemirror.css";

.ant-layout-header {
    color: #FFF;
}


.ant-layout-content {
    margin: 0 50px;
}


#app {
    height: 100%;
    width: 100%;

    .main-layout {
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    
        .ant-layout-content {
            overflow: auto;
        }
    }



    .logo {
        // width: 120px;
        // height: 31px;
        // background: rgba(255, 255, 255, 0.2);
        // margin: 16px 24px 16px 0;
        float: left;
    }
}